@page "/"

<MudLayout Class="d-flex absolute justify-center" Style="height:60em">
    <MudPaper Class="px-8 pt-4 pb-1 mx-16 my-16" Justify="Justify.Center"
              Style="display:flex; flex-direction:column; justify-content:center; align-items:center; gap:6em; width:40em">
        <MudImage Height="150" Width="150" Src="icon-192.png" />
        <MudForm>
            <MudPaper Elevation="0">
                <MudTextField T="string" Label="Email"
                              @bind-Value="email" Class="my-4" Style="width:25em"
                              Variant="Variant.Outlined" RequiredError="Email Obrigatório!"
                              OnlyValidateIfDirty="true" />
                <MudTextField T="string" Label="Senha"
                              @bind-Value="password" Class="my-4"
                              Variant="Variant.Outlined" RequiredError="Senha Obrigatório!"
                              OnlyValidateIfDirty="true" />
            </MudPaper>
            <p>Não lembra de sua senha <NavLink href="remenber">clique aqui</NavLink>!</p>
            <MudPaper Elevation="0" Style="display:flex; flex-direction:column; align-items:end">
                <MudButton Variant="Variant.Filled" @OnClick="DoLoginAsync" Color="Color.Primary" Class="my-6">Login</MudButton>
            </MudPaper>
        </MudForm>
    </MudPaper>
</MudLayout>
